* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
}

.nav {
    width: 20%;
    /* height: 100vh; */
}

.content {
    width: 80%;
}

.profile {
    display: block;
    height: 30%;
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
    padding-top: 5px;
}

.profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.operation {
    display: block;
    height: 70%;
    width: 100%;
    text-align: center;
    /* background-color: brown; */
}

.operation a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 0;
    margin-top: 5px;
}

.operation a i {
    margin-right: 10px;
}

.operation .dashboard {
    background-color: #46f646;
    color: black;
    border-radius: 15px;
}

.operation .approval {
    background-color: #46f646;
    color: black;
    border-radius: 15px;
}

.operation .patient {
    background-color: #46f646;
    color: black;
    border-radius: 15px;
}

.operation .doctor {
    background-color: #46f646;
    color: black;
    border-radius: 15px;
}

.top {
    height: 10%;
    background-color: bisque;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.top a {
    margin-right: 30px;
}

.middle {
    height: 30%;
    /* background-color: blueviolet; */
    display: flex;
}

.middle .list {
    margin: 20px;
    width: 30%;
    display: flex;
    justify-content: right;
    padding-right: 30px;
    align-items: center;
    font-size: 70px;
    background-color: rgb(133, 127, 127);
}

.middle .list .fa-solid,
.fas {
    font-size: 100px;
}

.middle .list h3 {
    margin-right: 90px;
}

.table {
    display: block;
    padding-top: 30px;
    font-size: larger;
}

.table table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table th,
td {
    padding: 10px;
}
table button{
    padding: 5px;
    margin: 5px;
    color: rgb(255, 254, 254);
    font-size: larger;
}
.reject{
    background-color: rgb(244, 10, 10);
}
.reject:hover{
    background-color: rgb(144, 22, 22);
}
.approve{
    background-color: rgba(28, 183, 31, 0.758);
}
.approve:hover{
    background-color: rgb(13, 96, 13);
}