* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
}

.nav {
    width: 20%;
    /* height: 100vh; */
}

.content {
    width: 80%;
}

.profile {
    display: block;
    height: 30%;
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
    padding-top: 5px;
}

.profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.operation {
    display: block;
    height: 70%;
    width: 100%;
    text-align: center;
    /* background-color: brown; */
}

.operation a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    display: inline-block;
    width: 100%;
    padding: 20px 0 20px 0;
    margin-top: 5px;
}

.operation a i {
    margin-right: 10px;
}

.operation .active {
    background-color: #46f646;
    color: black;
    border-radius: 15px;
}
.operation .history {
    background-color: #46f646;
    color: black;
    border-radius: 15px;
}

.top {
    height: 10%;
    background-color: bisque;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.top a {
    margin-right: 30px;
}
.table {
    display: block;
    padding-top: 50px;
    
}

.table table,tr,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

table, th,
td {
    padding: 10px;
   
}