.section {
    display: inline-flex;
    margin: auto;
    width: 90vw;
    text-align: center;
}

#logo_section {
    width: 35%;
}

#logo_section img {
    height: 100px;
    width: 100px;
}

#quick_login {
    width: 35%;
}


a {
    text-decoration: none;
    font-size: larger;
    margin: 5px;
    padding: 5px;
    display: block;
}
a:hover{
    background-color: rgb(58, 50, 50);
    color: white;
}

#GIT {
    width: 30%;
}

footer {
    margin-top: 15px;
    text-align: center;
}