* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
}

.nav {
    width: 20%;
    /* height: 100vh; */
}

.content {
    width: 80%;
}

.profile {
    display: block;
    height: 30%;
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
    padding-top: 5px;
}

.profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.operation {
    display: block;
    height: 70%;
    width: 100%;
    text-align: center;
    /* background-color: brown; */
}

.operation a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    display: inline-block;
    width: 100%;
    padding: 20px 0 20px 0;
    margin-top: 5px;
}

.operation a i {
    margin-right: 10px;
}

.operation .active {
    background-color: #46f646;
    color: black;
    border-radius: 15px;
}

.top {
    height: 10vh;
    background: linear-gradient(135deg, rgba(236, 93, 201, 0.75), rgba(0, 0, 255, 0.25));
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 2px 5px;
}

.top a {
    margin-right: 30px;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
}

.top a:hover {
    background-color: rgb(240, 60, 60);
    color: black;
}

.table {
    display: block;
    padding-top: 50px;
    text-align: center;
}

.table table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table th,
td {
    padding: 10px;
}

.form {
    width: 100%;
    max-width: 650px;
    /* background: rgb(43, 43, 56,1); */
    padding: 28px;
    margin: 0 20%;
    border-radius: 10px;
    box-shadow: -2px 2px 2px white;
}

.appointment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input label {
    width: 95%;
    color: rgb(2, 2, 2);
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.input input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    border: 1px solid grey;
    padding: 0 10px;
    margin-top: 5px;
}
.input select {
    height: 40px;
    width: 95%;
    font-size: 15px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid grey;
}
.submit {
    margin-top: 40px;
}

.submit input {
    cursor: pointer;
}

.submit input {
    display: block;
    width: 50%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background: #316f78;
}

.submit input:hover {
    background: rgb(0, 216, 254);
    color: rgb(0, 0, 0);
}
table button {
    padding: 5px;
    margin: 5px;
    color: rgb(255, 254, 254);
    font-size: larger;
    border-radius: 15px;
}

.cancel {
    background-color: rgba(58, 217, 66, 0.758);
}

.cancel:hover {
    background-color: rgb(16, 237, 16);
    color: black;
}

/* profile image */
.upload-container {
    margin-top: 10px;
}
.upload-container input[type="file"] {
    margin-bottom: 10px;
}
.upload-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.upload-container input[type="submit"]:hover {
    background-color: #0056b3;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}