body {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
.container{
    display: relative;
    width: 800px;
    height: 700px;
    margin-top: 10px;
    background-color: rgb(163, 166, 166);
}
form{
    display: contents;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input,label{
    font-size: large;
    margin-right: 20px;
}
/* label{
    margin-left: 10px;
} */
/* #name{
    margin-left: 48px;
}
#gender{
    margin-left: 45px;
}

#email{
    margin-left: 48px;
}
#password{
    margin-left: 45px;
}
#address{
    margin-left: 32px;
}
#age{
    margin-left: 45px;
}
#number{
    margin-left: 48px;
} */
