* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
}

.nav {
    width: 20%;
    /* height: 100vh; */
}

.content {
    width: 80%;
}

.profile {
    display: block;
    height: 30%;
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
    padding-top: 5px;
}

.profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.operation {
    display: block;
    height: 70%;
    width: 100%;
    text-align: center;
    /* background-color: brown; */
}

.operation a {
    text-decoration: none;
    color: rgb(3, 3, 3);
    display: inline-block;
    width: 100%;
    padding: 20px 0 20px 0;
    margin-top: 5px;
}

.operation a i {
    margin-right: 10px;
}

.operation .active {
    background-color: #46f646;
    color: black;
    border-radius: 15px;
}

.top {
    height: 10%;
    background-color: bisque;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.top a {
    margin-right: 30px;
}

.table {
    display: block;
    padding-top: 50px;
}

.table table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table th,
td {
    padding: 10px;
}

.form {
    width: 100%;
    max-width: 650px;
    /* background: rgb(43, 43, 56,1); */
    padding: 28px;
    margin: 0 20%;
    border-radius: 10px;
    box-shadow: -2px 2px 2px white;
}

.appointment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input label {
    width: 95%;
    color: rgb(2, 2, 2);
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.input input {
    height: 40px;
    width: 95%;
    border-radius: 7px;
    border: 1px solid grey;
    padding: 0 10px;
    margin-top: 5px;
}
.input select {
    height: 40px;
    width: 95%;
    font-size: 15px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid grey;
}
.submit {
    margin-top: 40px;
}

.submit input {
    cursor: pointer;
}

.submit input {
    display: block;
    width: 50%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background: #316f78;
}

.submit input:hover {
    background: rgb(0, 216, 254);
    color: rgb(0, 0, 0);
}